[Unit]
Description=Leprechaun B WAP

[Service]
User=leprechaunb
Group=leprechaunb
WorkingDirectory=/home/leprechaunb/leprechaunb/wap
ExecStart=gunicorn -w 2 -b 127.0.0.1:8880 wap:app
Restart=on-failure
Restart=8s
TimeoutSec=8
Type=simple


[Install]
WantedBy=multi-user.target

