[Unit]
Description=Leprechaun B Arrows

[Service]
User=leprechaunb
Group=leprechaunb
Type=simple
ExecStart=/home/leprechaunb/leprechaunb/arrows/arrows.py
Restart=always
RestartSec=8
TimeoutSec=8


[Install]
WantedBy=multi-user.target

