[Unit]
Description=Leprechaun B Arrows

[Service]
User=leprechaunb
Group=leprechaunb
Type=simple
ExecStart=/home/leprechaunb/leprechaunb/arrows/arrows.py
Restart=on-failure
Restart=8s
TimeoutSec=8


[Install]
WantedBy=multi-user.target

