* {
	margin: 1;
	font-family: "Arial";
}

html, body {
	height: 100%;
	color: #fcfcfc;
	background-color: #060606;
}

a {
	color: #808080;
}

img {
	opacity: 1.0;
	filter: alpha(opacity=1);
}

hr {
	border-color: #202020;
}

.pagewrap {
	min-height: 90%;
	margin-bottom: -20px;
}

.centerwrap {
	align: center;
	text-align: center;
	width: 100%;
	margin: 0;
}

.blockswrap {
	display: inline-block;
	margin: 0;
	border: 0;
	padding: 0;
	width: 501px;
}


th {
	width: 900px;
	text-align: center;
	color: #f7931a;
}

td {
	width: 900px;
	text-align: center;
	font-weight: bold;
}

td[data-value]:after {
	content: attr(data-value);
	color: red;
}

td[data-value^="-"]:after {
	color: green;
}



input[type=submit] {
	border-radius: 5px;
	border: 0;
	height: 26px;
	width: 80px;
	font-size: 18;
}


.hoverImg > img:hover {
	width: 1000px;
}


.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 7px;
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}



#vg-tooltip-element {
	color: #fcfcfc;
	background-color: #060606;
}

