{% include "header.html" %}
</head>
<body id="about">
<div class="pagewrap">

	<div class="centerwrap">
		<span>
			<h3>Pot</h3>
			<hr/>
			<a href="/">&gt;&gt;&gt;------&gt;</a>
			<hr/>
		</span>
	</div>

	<div class="centerwrap">
		<a href="gold">+gold</a>
		&nbsp;
		<a href="bitcoin">+bitcoin</a>
	</div>

	<div class="centerwrap">
	<hr/>

	<table>
		<tr>
			<th>date</th>
			<th>grams</th>
			<th>source</th>
			<th>latitude</th>
			<th>longitude</th>
			<th>cost_usd</th>
			<th>note</th>
		</tr>
	{% for prow in pot_gold %}
		<tr>
			<td>{{prow.datebin}}</td>
			<td>{{prow.grams}}</td>
			<td>{{prow.source}}</td>
			<td>{{prow.latitude}}</td>
			<td>{{prow.longitude}}</td>
			<td>{{prow.cost_usd}}</td>
			<td>{{prow.note}}</td>
		</tr>
	{% endfor %}
	</table>

	<br/><br/>
	<hr/>
	<br/><br/>

	<table>
		<tr>
			<th>date</th>
			<th>sats</th>
			<th>source</th>
			<th>pub_key</th>
			<th>priv_key</th>
			<th>cost_usd</th>
			<th>note</th>
		</tr>
	{% for prow in pot_bitcoin %}
		<tr>
			<td>{{prow.datebin}}</td>
			<td>{{prow.sats}}</td>
			<td>{{prow.source}}</td>
			<td>{{prow.pub_key}}</td>
			<td>{{prow.priv_key}}</td>
			<td>{{prow.cost_usd}}</td>
			<td>{{prow.note}}</td>
		</tr>
	{% endfor %}
	</table>

	</div>

</div>
</body>
</html>
