{% include "header.html" %}
</head>
<body id="about">
<div class="pagewrap">

	<div class="centerwrap">
		<span>
			<h3>Pot</h3>
			<hr/><br/>
			<a href="/">&gt;&gt;&gt;------&gt;</a>
			<br/><br/><hr/>
		</span>
	</div>

	<br/><br/>
	<hr/>
	<br/><br/>

	<div class="centerwrap">
		<form name="gold" action="gold" method="post">
			<button type="submit">&nbsp;&nbsp;+gold&nbsp;&nbsp;</button>
		</form>
		<br/>
		<form name="bitcoin" action="bitcoin" method="post">
			<button type="submit">+bitcoin</button>
		</form>
	</div>

	<div class="centerwrap">
	<br/><br/>
	<hr/>
	<br/><br/>

	<table>
		<tr>
			<th>date</th>
			<th>grams</th>
			<th>source</th>
			<th>latitude</th>
			<th>longitude</th>
			<th>note</th>
		</tr>
	{% for prow in pot_gold %}
		<tr>
			<td>{{prow.datebin}}</td>
			<td>{{prow.grams}}</td>
			<td>{{prow.source}}</td>
			<td>{{prow.latitude}}</td>
			<td>{{prow.longitude}}</td>
			<td>{{prow.note}}</td>
		</tr>
	{% endfor %}
	</table>

	<br/><br/>
	<hr/>
	<br/><br/>

	<table>
		<tr>
			<th>date</th>
			<th>sats</th>
			<th>source</th>
			<th>pub_key</th>
			<th>priv_key</th>
			<th>note</th>
		</tr>
	{% for prow in pot_bitcoin %}
		<tr>
			<td>{{prow.datebin}}</td>
			<td>{{prow.sats}}</td>
			<td>{{prow.source}}</td>
			<td>{{prow.pub_key}}</td>
			<td>{{prow.priv_key}}</td>
			<td>{{prow.note}}</td>
		</tr>
	{% endfor %}
	</table>

	</div>

</div>
</body>
</html>
